<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <p class="m-2 text-center">Hello world!</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn mt-2" type="button" (click)="fizzBuzz()">FizzBuzz?</button>

      <table *ngIf="toggleFizzBuzz" class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elm of fizzBuzzArray; index as i">
            <td class="font-weight-bold">
              {{i+1}}
            </td>
            <td>
              {{elm}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <form class="col-3 m-2">
      <div class="row form-group">
        <label for="reverse">Vend bogstaver</label>
        <input [(ngModel)]="reverseText" id="reverseText" name="reverseText" type="text" class="form-control">
      </div>
      <div class="row form-group">
        <button class="btn col-6" type="submit" (click)="reverse()">FLIP!</button>
        <p class="col-6">{{reversedText}}</p>
      </div>
    </form>
  </div>

  <div class="row">
    <form class="col-3 m-2">
      <div class="row form-group">
        <button class="btn col-6" type="submit" (click)="getJoke(); toggleJoke = false;">Stik mig en joke</button>
      </div>
    </form>
    <div class="col-5" *ngIf="joke">
      <button class="btn col" type="submit" (click)="toggleJoke = true">{{joke.setup}}</button>
    </div>
    <div class="col-5" *ngIf="toggleJoke">
      <p>{{joke.punchline}}</p>
    </div>
  </div>

</div>